---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="A propos de moi  | Bailly Mattéo" description="Tout savoir sur moi">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About me"
				tagline="Below is a brief presentation of my journey as well as my resume and my skills."
				
			>
				<img
					width="1553"
					height="873"
					src="#image de moi"
					alt="Manque une photo de toi ou un avatar ou comme tu veux en fait "
				/>
			</Hero>

			<section>
				<h2 class="section-title">My journey</h2>
				<div class="content">
					<p> <h3>From yesterday to today</h3> <br> 
						<p> 
							 <br>
			
							I am a passionate interior designer, freshly graduated from the MJM Graphic School of Interior Architecture in France, and currently based in Calgary, Canada.
							<br>

							With my solid background and passion for design, I am ready to bring your renovation and interior design projects to life in a unique and innovative way.
							<br>
							<br>
							<h4> What I can offer you : </h4><br>
							 Drawing and Creativity:   My passion for drawing and my artistic talent allow me to create captivating visual concepts and detailed 2D plans that bring your design ideas to life.
							<br>
							<br>
							3D Realistic Renderings:   My mastery of SketchUp allows me to create realistic 3D renderings that will help you visualize your project even before starting work.
							<br>
							<br>
							French touch: My experience in France allowed me to acquire a unique approach to interior design. I combine the timeless charm of French architecture with a modern aesthetic, offering a refreshing and elegant perspective to your projects.
							<br>
							<br>
							Why work with me: I am determined to bring a classy French touch to Calgary, while working closely with my clients to understand their needs and aspirations. My commitment to excellence, my boundless creativity and my passion for design are the guarantee of an exceptional result that will exceed your expectations.
						</p>
							Explore my portfolio to discover some of my previous projects, and feel free to contact me to discuss how I can bring your interior design vision to life. Let’s make your space both functional and a esthetically exceptional. 
					
					<br>
						
					
				</div>
			</section>
			<section>
				<h2 class="section-title">My diplomas</h2>
				<div class="content">
					<p><h5>2021-2023</h5>
						<br>
						Bachelor’s degree, Interior designer
						MJM Graphic Design, Paris
						<br>
						<br>
						<h5>2016</h5>
						<br>
						<br>
						Bachelor’s degree, European Institute of Journalism
						IEJ Paris, 16ème Arr.
						<br>
						<br>
						<h5>2013</h5>
						<br>
						<br>
						Baccalaureate «Sti2D»
						High school Louis Bascan</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">My Skills</h2>
				<div class="content">
					<p>Interior designer :
						Softwares : Expertise in SketchUp, AutoCAD, ArchiCAD, Adobe Photoshop and Adobe creative suite
						Technical : Drawing Perspective, isometric, technical plans, sketching
						Human : Detailed oriented, organization
					<br>
					<br>
						Self employed / Sales :
						Softwares : MS Office (Word, Excel, Power Point...)
						Human : Autonomy, comunication skills, good listener, empathy & friendliness
					<br>
					<br>
						Journalism :
						Softwares : Adobe indesign, Adobe illustrator, Final cut X, Premiere pro
						Technical : Video recording / editing, journalistic versatility (TV, print media, radio), social media & website
				
				
				
				</p>
					<p>HTML5/CSS3, React, ASTRO, JS, PYTHON, SQL, PHP, Merise ...</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
