---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Veille | Bailly Mattéo" description="Documentation de mes projets">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Veille technologique"
				tagline="Découvrez quelques uns des sujets auquel je m'interesse en ce moment !"
			>
			
			</Hero>
            <br>
           

			<section>
				<h2 class="section-title">Sujet</h2>
				<div class="content">
					<p> <h3>Unreal engine 5</h3> <br>
						<img
						width="75%"
						src="/assets/IMG_12.JPG"
						alt="Unreal engine5 "
					/>
					<br>
					<a href="https://cdn2.unrealengine.com/share-1200x630-a-1200x630-22326b97f383.jpg">Source</a>
					<br>
					<br>
						Unreal Engine 5 a été annoncé pour la première fois en mai 2020 lors d'une présentation en direct de 50 minutes. Le moteur de jeu promet de fournir des graphismes de nouvelle génération et une capacité de traitement sans précédent.
					L'une des principales caractéristiques d'Unreal Engine 5 est sa technologie de géométrie virtuelle (Nanite) qui permet de traiter des millions de triangles en temps réel. Cela signifie que les artistes peuvent créer des détails infinis sans se soucier de la puissance de traitement ou de la mémoire disponible.
					Unreal Engine 5 utilise également la technologie de lumière indirecte en temps réel (Lumen) pour simuler l'éclairage global sans nécessiter de bakes de lumière pré-calculés. Cela signifie que les développeurs peuvent modifier l'éclairage en temps réel pour créer des effets dynamiques.
					En ce qui concerne les performances, Unreal Engine 5 promet de fonctionner à des vitesses de trame élevées sur toutes les plateformes, y compris les consoles de nouvelle génération.
					Depuis son annonce, Unreal Engine 5 a attiré l'attention des développeurs de jeux et des studios du monde entier. De nombreux jeux sont en cours de développement en utilisant la technologie, notamment "The Matrix Awakens" et "Senua's Saga: Hellblade II".
					Unreal Engine 5 est actuellement en version "Early Access", ce qui signifie qu'il est disponible pour les développeurs enregistrés pour l'utiliser et fournir des commentaires à Epic Games pour améliorer le moteur.
					</p>
					<br>
						<br>
					<p><h4>Pourquoi</h4> <br>
						Etant fan de jeux vidéos depuis mon plus jeune âge, je m'interesse aux sujets basés dessus. Unreal engine 5 est pour moi la révolution des jeux vidéos grâce à son utilité à fournir des graphismes d'une haute qualité. L'image dans un jeu est l'attraction de pourquoi nous jouons. <br>
						Certains jeux n'ont pas besoin d'une bonne qualité car nous recherchons la performance et non la beauté du jeu, je pense notamment aux FPS, et la majeure partie des jeux en ligne. <br>
						Cependant des jeux d'avantures ou des mondes ouvert ont besoin d'avoir un bon moteur graphique afin de ressortir la meilleur images possible d'où l'utilité de Unreal engine 5 !
					</p>
                    <br>

				    <br>
					<p><h4>Mes sources</h4> <br>
						Pour effectuer mes recherches j'ai utilisée plusieurs outils :
						<li>Google Alert</li>
						<li>Inscription au blog de Unreal 5</li>
						<li>Documentaire sur les jeux videos qui utilsents Unreal 5</li>
					</p>
			
				
			</Hero>
			
				   
		
			<section>
				<h2 class="section-title">Sujet</h2>
				<div class="content">
					<p> <h3>Chat GPT pour les ingénieurs réseau</h3> <br>
						<img
						width="75%"
						src="/assets/IMG_1213.JPG"
						alt="Chat GPT"
					/>
					<br>
					<a href="https://clubedamicha.com/wp-content/uploads/2023/03/Clube-da-Micha-e1677836370447.jpeg">Source</a>
					<br>
					<br>
						Le Chat GPT (GPT signifiant Generative Pre-trained Transformer) est un modèle de langage puissant développé par OpenAI. Il s'appuie sur l'intelligence artificielle et le deep learning pour générer du texte de manière cohérente et contextualisée. Le modèle Chat GPT a été entraîné sur de vastes ensembles de données textuelles et est capable de comprendre et de générer des réponses en langage naturel.

						Pour les ingénieurs réseau, l'utilisation du Chat GPT peut présenter plusieurs avantages. Voici quelques domaines où il peut être appliqué :
					</p>
					<br>
					<p>
						Dépannage réseau :  Chat GPT peut être utilisé comme un assistant virtuel pour aider les ingénieurs réseau dans le processus de dépannage. En fournissant des informations et des recommandations basées sur des scénarios spécifiques, le Chat GPT peut aider à résoudre les problèmes de manière plus rapide et efficace.
					</p>
						<br>
					<p>
						Automatisation des tâches :  Chat GPT peut être intégré à des systèmes d'automatisation réseau pour gérer certaines tâches répétitives. Par exemple, il peut aider à configurer et à provisionner des équipements réseau, à surveiller les performances du réseau ou à générer des rapports.
					</p>
						<br>
					<p>
						Assistance à la conception réseau : Lors de la conception de réseaux complexes, le Chat GPT peut aider à générer des schémas d'architecture réseau et à proposer des solutions optimisées en fonction des exigences spécifiques.

						Documentation et base de connaissances : Le Chat GPT peut être utilisé pour créer une base de connaissances dynamique pour les ingénieurs réseau. Il peut répondre aux questions fréquentes, fournir des informations détaillées sur les protocoles, les équipements réseau et les meilleures pratiques.
					</p>
						<br>
					<p>
						Sécurité du réseau : Le Chat GPT peut être utilisé pour analyser les journaux de sécurité du réseau et détecter les anomalies potentielles. Il peut également aider à élaborer des stratégies de sécurité et à proposer des recommandations pour renforcer la résilience du réseau.
					</p>
					<br>
					<p><h4>Pourquoi</h4> <br>
						L'utilisation du Chat GPT pour les ingénieurs réseau présente des possibilités intéressantes pour le dépannage, l'automatisation, la conception, la documentation et la sécurité du réseau. Cependant, il est important de comprendre les limites de cette technologie et de l'utiliser judicieusement en complément de l'expertise humaine.
					</p>
					<br>
					<br>
					<p><h4>Mes sources</h4> <br>
						Pour effectuer mes recherches j'ai utilisée ces outils ci-dessous :
						<li>Reportage sur Chat GPT</li>
						<li>Chat GPT</li>
						<li>Google Alert</li>
						<li>Wikipedia</li>
		</main>
						
		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
